.img-head {
	width: 100%;
}

.img-head img {
	padding-top: 1%;
	height: 85%;
	width: 100%;
}



.pres {
	width: 100%;
}

.pres section {
	text-align: center;
	padding-left: 20%;
	width: 80%;
}

.pres h1 {
	margin-top: -5%;
	text-align: center;
}
.real {
	padding-top: 7%;
	padding-bottom: 10%;
	width: 100%;
}

.real h1{
	text-align: center;
}



.card-deck {
	padding-top: 3%;
	padding-left:2%; 
	width: 100%;
}


.contact {
	height: 100%;
	width: 100%;
	padding-bottom: 10%;
	text-align: center;
}


.contact h2 {
	text-align: center;

}

hr {
	width: 80%;
}

.form-control {
	width: 25%;
	margin-left: 39%;
}
.contact label {
	padding-top: 3%;
	padding-bottom: 0.5%;
}

.contact textarea {
	margin-right: -2.5%;
	width: 25%;
}

#label-msg {
	width: 100%;
	float: left;
	padding-bottom: 0.5%;
	text-align: center;
}

.button {
	margin-top: 2%;
	text-align: center;
}

#obligation {
	color: red;
}

.form-group {
	background-color: #FBFBFB;
}

#fond {
	background-color: #FBFBFB;
	padding-top: 2%;
	padding-bottom: 2%;
}

.button {
	padding-bottom: 2%;
}


.plus {
	width: 100%;
	background-color: #181818;
	color: white;
}


.plus ul li {
	list-style: none;
	color: white;
}

.plus ul li a {
	color: white;
}

.plus ul li a:hover {
	text-decoration: none;
	color: #E3E3E3;
}

.fixed {
	position: fixed;
	z-index: 3;
}