html,body {
    height:100%;
    width: 100%;
}


nav {
	text-align: center; 
	width: 100%;
	background-color: white;
	opacity: 0%;
}

nav  ul {
	width: 100%;
	padding-top: 1%;
}

nav ul li {
	font-weight: bold;
	display: block;
	display: inline;
	padding-right: 2%;
}

nav ul li a:hover{
	text-decoration: none;
}

body {
    display: table;
}

.fixed {
	position: fixed;
	z-index: 3;
}

.footer {
    display: table-row;
    height: 1px;
    background-color: #007BFF;
    width: 100%;
}

.container {
	text-align: center;
    height: auto;
}

.container p {
	margin-top: 1%;
	color: white;
}

footer .container {
	width: 100%;
}


.alert {
	text-align: center;
}

