nav {
	text-align: center; 
	width: 100%;
	background-color: white;
	opacity: 0%;
}

nav  ul {
	width: 100%;
	padding-top: 1%;
}

nav ul li {
	display: block;
	display: inline;
	padding-right: 2%;
}

nav ul li a:hover{
	text-decoration: none;
}


footer {
	text-align: center;
	color: white;
	background-color: #4D4D4D;
	width: 100%;
 }

